@font-face {
    font-family: moonstar;
    src: url(../../font/Moonstar.ttf);
}
@font-face {
    font-family: honeymoon;
    src: url(../../font/Honeymoon.ttf);
}
@font-face {
    font-family: content;
    src: url(../../font/contentFont.ttf);
}
*{
    cursor: url(../../font/Cursors/cursor1.cur), auto
}
body{
    background: url("../../Images/backgrounds/chat-background.jpg")no-repeat center center fixed;
    background-size: cover;
    font-size: 25px;
}
h1{
    text-shadow:2px 2px 8px darkblue;
    font-size: 30px;
    color: lightpink;
    text-align: center;
    font-family: moonstar;
    position: relative
}
nav ul {
    font-family: honeymoon;
    padding: 0;
    height: 43px;
    width: 100%;
    background-color: #086CA2;
    margin: 0 auto;
    position: relative;
}
nav ul ul{
    display: none;
    position: absolute;
    z-index: 1;
}
nav ul ul li{
    background-color: #086CA2;
    position: relative;
    width: 248px;
}
nav ul li:hover>ul{
    display: inline-block;
}

li{
    position: relative;
    float: left;
    padding:5px 62px;
    font-size: 1.5rem;
    display: inline-block;
}
li:hover{
    background: yellow;
}
li a{
    text-align: center;
    text-decoration: none;
    color: #050c2a;
}
.active{
    color: #64AAD0;
}
#chat{
    margin-left: 480px;
}
footer{
    float: left;
    font-family: "Comic Sans MS";
    background: black;
    color: #086CA2;
    text-align: center;
    margin-top: 50px;
    width: 1575px;
}