@font-face {
    font-family: moonstar;
    src: url(../../font/Moonstar.ttf);
}
@font-face {
    font-family: honeymoon;
    src: url(../../font/Honeymoon.ttf);
}
@font-face {
    font-family: content;
    src: url(../../font/contentFont.ttf);
}
*{
    cursor: url(../../font/Cursors/moon-stick.cur), auto
}
body{
    background: url("../../Images/backgrounds/sailor-moon-wallpaper.jpg")no-repeat fixed;
    background-size: cover;
    font-size: 25px;
}
nav ul {
    font-family: honeymoon;
    padding: 0;
    height: 43px;
    width: 100%;
    background-color: #086CA2;
    margin: 0 auto;
    position: relative;
}
nav ul ul{
    display: none;
    position: absolute;
    z-index: 1;
}
nav ul ul li{
    background-color: #086CA2;
    position: relative;
    width: 248px;
}
nav ul li:hover>ul{
    display: inline-block;
}
li{
    position: relative;
    float: left;
    padding:5px 62px;
    font-size: 1.5rem;
    display: inline-block;
}
li:hover{
    background: yellow;
}
li a{
    text-align: center;
    text-decoration: none;
    color: #050c2a;
}
.active{
    color: #64AAD0;
}

section h3{
    color: white;
    font-family: moonstar;
    text-align: center;
    font-size: 60px;
    background: black;
    opacity:0.9;
}

article{
    border: 5px solid black;
    background: lightpink;
    color: black;
    opacity: 0.8;
    float: left;
    width: 62.5em;

}
h4{
    letter-spacing: 2px;
    font-family: moonstar;
    text-align: center;
    font-size: 50px;
}
.firstArticle, h4{
    float: left;
    width: 1000px;
}

#first-gif{
    border: 2px solid black;
    position: relative;
    top: -80px;
    right: 30px;
    float: right;
    width: 480px;
    height: 360px;
}
article p {
    padding: 0 15px;
}
#summary-gif{
    border: 2px solid black;
    margin: 30px 25px;
    width:480px;
    height:359px;
}
.firstP{
    position: relative;
    top: -300px;
    width: 1000px;
}
p::first-letter{
    font-size: 45px;
    font-family: moonstar;
}
p:nth-child(4){
   position: relative;
   top:-300px;
   left: 500px;
   width: 1000px;
}
.mercury{
    border: 2px solid black;
    border-radius: 25px;
    position: relative;
    top:-550px;
    width: 400px;
    height: 450px;

}
p:nth-child(6){
    width: 1000px;
    position: relative;
    left: 500px;
    margin-top: -680px;
}
P:nth-child(18){
    width: 1000px;
}
.sailor-moon-gif{
    border: 2px solid black;
    margin: 0 500px;
}
.youtubeVideo{
    margin-left: 1050px;
    margin-top: -500px;
}
#backToTop{
    display: none;
    position: fixed;
    bottom: 40px;
    right: -10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: darkred;
    font-weight: bolder;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

footer{
    font-family: "Comic Sans MS";
    background: black;
    color: #086CA2;
    text-align: center;
    width: 1575px;
}