@font-face {
    font-family: evilFont;
    src: url(../../font/Evil.ttf);
}
*{
    cursor: url(../../font/Cursors/badGuys.cur), auto
}
body{
    background: url("../../Images/backgrounds/darkCircusWallpaper.jpg")no-repeat fixed;
    background-size: cover;
}
section {
    float: left;
    padding: 50px;
    margin: 30px 30px;
    font-family: evilFont;
    font-size: 20px;
    background-color: black;
    opacity: 0.8;
    color: white;
    border: solid lightskyblue 2px;
    border-radius: 25px;
}
li.customBullet{
    list-style-image: url("../../Images/negaMoon.png");
}
img{
    width:450px;
    height:300px;
}
figure{
    float: left;
    width: 450px;
    border: 2px solid blue;
}
h4{
    font-size: 3em;
    text-align: center;
}